* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

.day {
  background: linear-gradient(180deg, rgb(19, 184, 246) 0%, rgb(92, 189, 221) 41%, rgb(123, 202, 207) 74%, rgb(243, 248, 249) 100%);
}

.sunset {
  background: linear-gradient(180deg, rgb(158, 85, 39) 0%, rgb(214, 145, 66) 58%, rgb(210, 179, 149) 100%);
}

.night {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(71, 69, 65) 68%, rgb(125, 124, 122) 100%);
}

.container {
  color: rgb(235, 232, 232);
}
.container main {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10vh;
  max-width: 50%;
}
@media (max-width: 817px) {
  .container main {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .container main {
    margin-left: 5vh;
  }
}
.container main #location #city {
  font-size: 40px;
}
.container main #temp .degrees {
  font-size: 80px;
}
.container aside {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  backdrop-filter: blur(105px);
  position: absolute;
  right: 0%;
  top: 0;
  bottom: 0;
  padding: 40px;
  max-width: 20%;
}
.container aside * {
  margin-bottom: 15px;
}
.container aside h1 {
  position: relative;
}
.container aside h1::after {
  content: "";
  top: 110%;
  left: 0;
  height: 1px;
  width: 110%;
  background-color: rgba(235, 232, 232, 0.377);
  position: absolute;
}
.container aside figure {
  margin-top: 5vh;
}
.container aside figure figcaption {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.show {
  display: block;
}